.product-card {
    &__img {
        width: 100%;
        height: 300px;
        border: 1px solid #eeecee;
    }

    &__name {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.original-price {
    text-decoration: line-through #fa6bfe;
    color: #fa6bfe;
}

.text {
    &--small {
        font-size: small;
    }
    &--big {
        font-size: large;
    }
}

.custom-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    &-dark-bg {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .ant-btn {
        margin: 2px;
    }
}
